@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;  
}

#divvid b {
    font-family: 'Open Sans', sans-serif;
}

video {
    width: 70%;
}

.button {
    padding: 1px 10px;
    -webkit-appearance: button;
    color: initial;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
}

.image {
    width: 70%;
}