video {
    width: 70%;
}

.button {
    padding: 1px 10px;
    -webkit-appearance: button;
    color: initial;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
}

.image {
    width: 70%;
}